.todo-form {
  background-color: #00FF80; /* 绿色背景 */
  padding: 20px;
  border-radius: 8px;
}

.add-todo-btn {
  background-color: #007bff; /* 蓝色按钮 */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

.add-todo-btn:hover {
  background-color: #0056b3; /* 深色蓝色hover效果 */
}

.top-margin {
  display: flex;
  justify-content: center;  /* 居中对齐 */
  align-items: center;
  font-size: 36px;
  text-align: center;  /* 水平居中 */
  margin-top: 20px;
}
